<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            Chào <%= userName %>,<br>
            Bạn vừa nhận được một yêu cầu từ <%= customerName %>.<br>
            Truy cập liên kết dưới đây để xem:<br>
            <a href="http://cms.sproperty.vn/real-estate/inbox">cms.sproperty.vn/real-estate/inbox</a>.<br><br>
            Cảm ơn,<br>
            Savills.
        </div>
    </body>
</html>