<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            Cảm ơn bạn đã liên hệ đến Savills!<br>
            Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.<br><br>
            Cảm ơn,<br>
            Savills.
        </div>
    </body>
</html>