<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            Chào <%= name %>,<br>
            Yêu cầu đã được gửi đi. Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.<br><br>
            Cảm ơn,<br>
            Savills.
        </div>
    </body>
</html>