<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            Chào <%= fullname %>,<br>
            Đổi mật khẩu thành công.<br>
            Mật khẩu mới: <b><%= password %></b><br><br>
            Savills.
        </div>
    </body>
</html>