<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            Chào mừng <%= fullname %>,<br>
            Bạn đã đăng ký tài khoản thành công.<br>
            Mật khẩu đăng nhập: <b><%= password %></b><br><br>
            Savills.
        </div>
    </body>
</html>